<html>
<head>
  <title>Invite from kojix</title>
</head>
<body>
  <p>
    Hi {{name}} {{surname}},
  </p>
  <p>
    kojix would like you to join it's network on <a href="http://kojix.com">kojix.com</a>.
    <br />
    Please follow the link bellow to register:
  </p>
  <p>
    <a href="http://kojix.com/register?invite={{id}}">http://kojix.com/register?invite={{id}}</a>
  </p>
  <p>
    Thank you,
    <br />
    kojix Team
  </p>
  <p>
    <a href="http://kojix.com"><img src="cid:logo@kojix" /></a>
  </p>
</body>
</html>